.icons-container {
  padding: 1rem !important;
  border-bottom: 1px solid #84173a !important;
  @media screen and (max-width: 575px) {
    margin-top: 4rem !important;
  }
}

.icons-container:first-child div {
  flex-direction: row;
  margin: auto;
  justify-content: space-around;
  width: 100%;

  @media screen and (max-width: 575px) {
    flex-wrap: unset;
  }
}
.m-r-label {
  @media screen and (max-width: 575px) {
    margin-right: -2rem !important;
  }
}

.icons-container span div {
  max-width: 40%;
  @media screen and (max-width: 575px) {
    max-width: 57%;
  }
}

.infinite-scroll-component__outerdiv {
  width: 100%;
}
.items-scroll {
  margin-top: 2rem !important;
  height: 400px !important;
  @media screen and (max-width: 575px) {
    height: 325px !important;
  }
}
.items-scroll-2 {
  margin-top: 3rem !important;
  height: 400px !important;
  @media screen and (max-width: 575px) {
    height: 325px !important;
    margin-top: 2rem !important;
  }
}
.items-container {
  border: 2px solid #b72051;
  margin: auto !important;
  border-radius: 1rem;
  padding: 1rem;
  max-width: 60% !important;
  background-color: #f4f4f7;
  @media screen and (max-width: 575px) {
    max-width: 90% !important;
    padding: 0rem;
  }
}

.item-container {
  padding: 1rem;
  border-bottom: 0.5px solid #84173a !important;
  color: $secondary;

  & .item-btn {
    padding: 0.4rem !important;
    border-left: 0.5px solid #84173a !important;
    border-radius: unset !important;
    & span {
      width: 50%;
      @media screen and (max-width: 575px) {
        width: 100%;
      }
    }
  }
  & .item-image {
    border-radius: 50%;
    padding: 1rem;
    background-image: linear-gradient(to right, #b72051, #e61f5f);
    width: 75%;
    margin: auto;
    @media screen and (max-width: 575px) {
      padding: unset;
      background-image: unset;
      width: 100%;
    }

    & div {
      background-color: #f4f4f7;
      border-radius: 50%;
    }
    & img {
      border-radius: 50%;
      padding: 0.4rem;
      @media screen and (max-width: 575px) {
        padding: unset;
      }
    }
  }
  & .item-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.item-icons-container{
    justify-content:space-around;
  }

.item-icon-container{
  flex-basis: 23% !important;
    padding-top: .3rem;
}  
.icon-container{
    text-align: center;
    color: gray
}
.icon-container-2{
    text-align: end;
    color: gray
}

.page-title-container{
  margin-top:4rem !important;
}

.page-icons-container{
  margin-top:-4rem !important;
}
